/*///general start/////////*/
ul{
	list-style: none;
}
html,body,ul{
	padding: 0;
	margin:0;
}
.container{
		margin: auto;
		width: 80%;
	}
/*///general end//////////*/
/*///header start//////////*/
header{
	background-color: #00aeff;
	min-height: 100px;
}
.header-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	min-height: 100px;
}
.header-div{
	min-width: 30%;
	text-align: center;
	padding: 15px;
	height: 20px;
}
.header-div:first-child{
	background-color: #009bdd;
}
.header-div:last-child{
	background-color: #36c3ff;
}
/*///header end//////////*/

/*///main start//////////*/
main{
	display: flex;
	flex-direction: row;
}

aside{
	min-width: 100px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #e84900;
	margin-right: 5px;

}
.aside_div{
	background-color: #ff5607;
	height: 30px;
	padding: 2% 0;
	width:85%;
	margin: 10px;
}

article{
	margin: 15px 0 0 15px;
	max-width: 75%;
	flex-grow: 3;
	position: relative;
}
.photo_div{
	margin: 10px 40px 0 0;
	background-color: #ffbd00;
	position: absolute;
	width: 40%;
	height: 250px;
}
.article-text {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
}
.parag{
	background-color: #cecece;
	min-height: 25px;
	width: 50%;
	margin: 10px;
	align-self: flex-end;
}
.title{
	height: 35px;
	background-color: #9d9d9d;
}
.parag:nth-child(n+7){
	width: 100%;
}
/*///main end//////////*/
/*///footer start//////////*/
footer{
	background-color: #00d169;
	display:flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
}
.footer_ul{
	background-color: #02b15a;
	margin: 5px;
	padding: 20px;
}
.footer_li{
	margin: 10px;
	padding: 10px;
	background-color: #038042;
	min-width: 150px;
}
/*///footer end//////////*/

@media( max-width: 1920px){
	
}
@media(min-width: 376px) and (max-width: 1240px){
	.container{
		width: 100%;
	}
	.header-container{
		justify-content: space-around;
		min-height: 100px;
	}
	footer{
		flex-wrap: wrap;
	}
}

@media  (max-width: 375px){
	.container{
		width: 100%;
	}
	.header-container{
		flex-direction: column;
		justify-content: space-around;
	}
	.header-div{
		height: 75%;
		width: 75%;
	}
	main{
		flex-direction: column;
	}
	aside{
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		height: 70px;
	}
	.aside_div{
		margin: 10px;
	}
	.aside_div:nth-child(n+4){
		display: none;
	}
	article{
		text-align: justify;
		margin: -10px 0 0 0;
		max-width: 100%;
	}
	.photo_div{
		width: 100%;
		position: static;
	}
	.article-text{
		margin:0 2.5% ;
		width: 95%;
	}
	.parag{
		width: 100%;
		align-self: center;
	}
	footer{
		flex-direction: column;
	}
	.footer_ul{
		position: relative;
	}
	.footer_li{
		position: absolute;
		top:2%;
	}
}