/*///general start/////////*/
.container{
	margin: auto;
	width: 80%;
}

/*///general end//////////*/


/*///header start//////////*/
header{
	background-color: #00aeff;
	min-height: 100px;
}
.header-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	min-height: 100px;
}
.header-div{
	min-width: 30%;
	text-align: center;
	padding: 15px;
}
.header-div:first-child{
	background-color: #009bdd;
}
.header-div:last-child{
	background-color: #36c3ff;
}
/*///header end//////////*/

/*///main start//////////*/

main{
	display: flex;
	flex-direction: row;
}
aside{
	min-width: 100px;
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	justify-content: flex-start;
	background-color: #e84900;

}
.aside_div{
	background-color: #ff5607;
	min-width: 40%;
	padding: 5px 0;
	margin: 10px;
	text-align:center;
}

article{
	margin: 10px;
	max-width: 75%;
	flex-grow: 3;
}
.photo_div{
	margin: 10px 40px 0 0;
	float: left;
	background-color: #ffbd00;
	width: 300px;
	height: 150px;
}
.article-text h2{
	text-align: center;
}


